<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <h1>FindAFlick</h1>
    <ul>
        <% flix.forEach( el=> { %>
            <li class='flixItem' data-id='<%=el._id%>'>
                <span class='<%= el.completed === true ? ' completed' : 'not' %>'><%= el.flix %></span>
                <span class='del'> Delete </span>
            </li>
            <% }) %>
    </ul>

    <h2>
        <%= user.userName %> has <%= left %> movies & TV shows to watch.
    </h2>

    <form action="/flix/createFlix" method='POST'>
        <input type="text" placeholder="Enter Movie/Tv Show" name='flixItem'>
        <input type="submit">
    </form>

    <a href="/logout">Logout</a>
    <h2 id="movieTitle"></h2>


    <script src="js/main.js"></script>
</body>

</html>